@font-face {
  font-family: sukarbl;
  src: url("../fonts/Sukar-Black-1.ttf");
  font-display: swap;
}
@font-face {
  font-family: sukarbo;
  src: url("../fonts/Sukar-Bold-1.ttf");
  font-display: swap;
}
@font-face {
  font-family: sukarre;
  src: url("../fonts/Sukar-Regular.ttf");
  font-display: swap;
}
.new_navbar {
  padding: 25px 0;
  position: relative;
  z-index: 6;
}
.new_navbar .logo_links .logo {
  margin-left: 70px;
}
.new_navbar .logo_links .links li.nav-item {
  margin: 0 25px;
  position: relative;
}
.new_navbar .logo_links .links li.nav-item a.nav-link {
  color: #000;
  cursor: pointer;
  font-family: sukarbo;
}
.new_navbar .logo_links .sub_parent .submenu {
  position: absolute;
  background-color: rgba(0, 156, 221, 0.8);
  padding: 10px;
  min-width: -moz-max-content;
  min-width: max-content;
  border-radius: 10px;
  z-index: 5;
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.new_navbar .logo_links .sub_parent .submenu li {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 0.5px solid #f4f4f4;
}
.new_navbar .logo_links .sub_parent .submenu li a {
  font-size: 1rem;
  color: #fff;
  font-family: sukarbo;
}
.new_navbar .logo_links .sub_parent:hover > .submenu {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}
.new_navbar .logo_links .card-img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}
.new_navbar .logo_links .card-img img {
  border-radius: 50%;
}
.new_navbar .lang_pic .lang {
  margin-left: 10px;
}
.new_navbar .lang_pic .lang .nice-select {
  border: 0;
  text-align: right;
}
.new_navbar .lang_pic .lang .nice-select .list {
  text-align: right;
}
.new_navbar .lang_pic .lang .nice-select .list .option {
  text-align: right;
}
.side-nav .accordion {
  margin-bottom: 10px;
  padding: 0;
  border: 0;
}
.side-nav .accordion ul {
  padding-right: 0;
}
.side-nav .accordion-button:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: none;
}
.side-nav .accordion-item {
  border: 0;
}
.side-nav .accordion-button {
  border: 0;
  padding: 10px 5px;
  border-bottom: 1px solid #eee;
}
.side-nav .accordion-button:focus {
  box-shadow: none;
}

.new-courses-cards {
  padding: 100px 0;
}

.course-card {
  margin-bottom: 30px;
}

.header .header-content {
  padding-bottom: 0;
  position: relative;
  z-index: 5;
}
.header::after {
  content: "";
  background-image: unset;
}
.header .card-img {
  align-items: center;
  height: calc(100vh - 100px);
}
.header .card-img::after {
  background-color: rgba(0, 0, 0, 0.7);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: none !important;
}
.header .card-img::before {
  content: "";
  background-image: unset;
}

.new-who-us {
  padding: 95px 0 40px 0;
  position: relative;
}
.new-who-us::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  height: 70%;
  width: 2px;
  background-color: rgba(112, 112, 112, 0.17);
}
.new-who-us .who-contet h5 {
  font-size: 1.9rem;
  font-weight: 900;
}
.new-who-us .who-contet p {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 1.1rem;
  line-height: 37px;
}
.new-who-us .who-contet .btn-style {
  background-color: #009dde;
  border-color: #009dde;
  padding: 12px 60px;
}
.new-who-us .who-icons .icon_card {
  margin-bottom: 40px;
  align-items: flex-start !important;
}
.new-who-us .who-icons .icon_card .card-body {
  margin-right: 20px;
  margin-top: 30px;
}
.new-who-us .who-icons .icon_card .card-body h5 {
  font-family: sukarbo;
  font-size: 1.8rem;
}
.new-who-us .who-icons .icon_card .card-body p {
  font-size: 1rem;
}
.new-who-us .who-icons .icon_card .icon {
  flex: none;
}
.new-who-us .who-icons .icon_card ul li {
  position: relative;
  padding-right: 20px;
}
.new-who-us .who-icons .icon_card ul li::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 2px;
  right: 0;
  width: 12px;
  height: 12px;
  background-image: linear-gradient(to right, #ffd040, #ff7940);
}

.new-what-say {
  background-color: #fff;
}
.new-what-say .head h6 {
  color: #009cdd;
}
.new-what-say .what-say-card {
  background-color: #f3f3f3;
  border-radius: 10px;
  border: 1px solid rgba(108, 108, 108, 0.31);
}

.mo3tmd-from {
  padding: 70px 0;
  background-color: #202e3b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mo3tmd-from img {
  display: block;
  margin: auto;
}

.companies {
  background-color: #fff;
  margin-bottom: 0;
  padding-bottom: 0;
}
.companies .head h5 {
  font-size: 1.9rem;
}
.companies img {
  display: block;
  margin: auto;
}

.home-contact-us {
  background-color: rgba(204, 204, 204, 0.45);
  margin-top: 70px;
  margin-bottom: 0;
}
.home-contact-us .head {
  text-align: center;
}
.home-contact-us .head h5 {
  font-size: 1.9rem;
  color: #000;
  font-family: sukarbo;
}
.home-contact-us .contact-wrapper {
  background-color: transparent;
  border: 0;
}
.home-contact-us .contact-wrapper .nice-select .list .option {
  text-align: right;
}

.custom-footer {
  margin-top: 0;
}

.footer {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  padding-top: 60px;
}
.footer::after {
  content: "";
  background-color: rgba(244, 244, 244, 0.8);
}
.footer p,
.footer a,
.footer span,
.footer li,
.footer h5 {
  color: #212c80 !important;
}

.side-nav .side-wrapper .card-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 20px;
}
.side-nav .side-wrapper .card-img img {
  border-radius: 50%;
}
.side-nav .nice-select {
  text-align: right !important;
  float: none;
  z-index: 5;
}
.side-nav .nice-select .list {
  width: 100%;
  height: auto !important;
}
.side-nav .nice-select .list .option {
  text-align: right !important;
}

.new-course-details .details-contetn {
  padding: 35px 0 80px 0;
}
.new-course-details .details-contetn .type {
  background-color: rgba(33, 44, 129, 0.19);
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 60px;
  border-radius: 5px;
  margin-bottom: 47px;
  color: #212c81;
  font-weight: 900;
}
.new-course-details .details-contetn h5 {
  color: #009cdd;
  font-family: sukarbo;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.new-course-details .details-contetn p {
  line-height: 31px;
}
.new-course-details .details-card {
  margin-right: auto;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 21px 18px;
  position: relative;
  top: -50px;
}
.new-course-details .details-card h5 {
  color: #009cdd;
  font-family: sukarbo;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.new-course-details .details-card h4 {
  color: #000;
  font-size: 1.2rem;
  font-family: sukarbo;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.new-course-details .details-card h4::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #000000;
}
.new-course-details .details-card p {
  color: #3a3a3a;
  font-size: 1.3rem;
  margin-top: 10px;
}
.new-course-details .card-info .card-img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-left: 20px;
}
.new-course-details .card-info .card-img img {
  border-radius: 50%;
}
.new-course-details .card-info .card-body li {
  margin-bottom: 10px;
}
.new-course-details .card-text {
  margin-bottom: 22px;
}
.new-course-details .card-text p {
  font-size: 1.1rem;
  color: #5e5e5e;
  line-height: 30px;
}
.new-course-details .course-titles-slide .slider-item {
  margin: 0 10px;
}
.new-course-details .course-titles {
  border: 1px solid rgba(112, 112, 112, 0.18);
  padding: 36px 40px;
  border-radius: 18px;
  margin-top: 85px;
  margin-bottom: 70px;
}
.new-course-details .course-titles .head h5 {
  color: #009cdd;
  font-size: 1.6rem;
  font-family: sukarbo;
  margin-bottom: 20px;
}
.new-course-details .course-titles .title-card {
  border: 1px solid rgba(112, 112, 112, 0.18);
  padding: 20px 25px;
  border-radius: 18px;
  margin: 0 10px;
}
.new-course-details .course-titles .title-card .header-t {
  background-color: transparent !important;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.new-course-details .course-titles .title-card .header-t h5,
.new-course-details .course-titles .title-card .header-t p {
  color: #5e5e5e;
}
.new-course-details .course-titles .title-card .header-t h5 {
  font-size: 1.1rem;
}
.new-course-details .course-titles .title-card .header-t p {
  font-size: 0.9rem;
}
.new-course-details .course-titles .title-card .titles {
  margin-top: 20px;
}
.new-course-details .course-titles .title-card .titles li {
  margin-bottom: 20px;
}
.new-course-details .course-titles .title-card .titles .t-name {
  width: 80%;
}
.new-course-details .course-titles .title-card .titles .t-name h5 {
  font-size: 1.2rem;
  color: #000;
  font-family: sukarbo;
  margin-right: 15px;
  position: relative;
  padding-bottom: 10px;
  text-align: right;
}
.new-course-details .course-titles .title-card .titles .t-name h5::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #000000;
}
.new-course-details .course-titles .title-card .titles .t-button {
  background-color: #009cdd;
  padding: 13px;
  border-radius: 5px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-course-details .course-titles .title-card .titles .t-button i,
.new-course-details .course-titles .title-card .titles .t-button span {
  color: #fff;
}
.new-course-details .course-titles .title-card .titles .t-button span {
  margin: 0 10px;
}
.new-course-details .course-titles .get-test {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.new-course-details .course-titles .get-test .btn-style {
  border-radius: 28px;
  padding: 15px 40px;
  font-size: 1rem;
}
.new-course-details .course-titles .get-test .btn-style:first-child {
  background-color: #009cdd;
  border-color: #009cdd;
  width: 205px;
}
.new-course-details .course-titles .get-test .btn-style:hover {
  background-color: #fff;
}
.new-course-details .course-titles .get-test .test-button .btn-style {
  background-color: #212c80;
  border: 1px solid #212c80;
}

.file-downoads {
  border: 1px solid rgba(112, 112, 112, 0.4);
  padding: 23px 35px;
  margin-bottom: 70px;
  border-radius: 18px;
}
.file-downoads h5 {
  font-size: 1.7rem;
  margin-bottom: 20px;
  font-weight: 800;
}
.file-downoads .t-button {
  background-color: #009cdd;
  padding: 13px;
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.file-downoads .t-button i,
.file-downoads .t-button span {
  color: #fff;
}
.file-downoads .t-button span {
  margin: 0 10px;
}
.file-downoads .t-button:hover {
  background-color: rgba(0, 155, 221, 0.7725490196);
}

.new-who-us-page .new-who-us-page-header {
  text-align: center;
  padding: 50px;
}
.new-who-us-page .new-who-us-page-header h5 {
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 36px;
}
.new-who-us-page .new-who-us-page-header h6 {
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 36px;
}
.new-who-us-page .new-who-us-page-header p {
  font-size: 1.1rem;
  line-height: 30px;
}
.new-who-us-page .new-who-us::after {
  display: none;
}
.new-who-us-page ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.new-who-us-page ul li {
  width: 50%;
}
.new-who-us-page ul li p {
  line-height: 30px;
}
.new-who-us-page ul li::before {
  top: 6px !important;
}

#video-represent .modal-dialog,
#test-parent .modal-dialog {
  width: 1286px;
  max-width: 100%;
  margin: auto;
}
#video-represent .modal-dialog .card-img,
#test-parent .modal-dialog .card-img {
  height: 535px;
  border-radius: 26px;
}
#video-represent .modal-dialog .card-img img,
#test-parent .modal-dialog .card-img img {
  border-radius: 26px;
}
#video-represent .modal-dialog .card-img .play,
#test-parent .modal-dialog .card-img .play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 190px;
  height: 190px;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 156, 221, 0.8);
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
#video-represent .modal-dialog .card-img .play i,
#test-parent .modal-dialog .card-img .play i {
  color: #fff;
  font-size: 2.5rem;
}
#video-represent .modal-dialog .card-img .play img,
#test-parent .modal-dialog .card-img .play img {
  border-radius: 50%;
}
#video-represent .modal-dialog .modal-content,
#test-parent .modal-dialog .modal-content {
  border-radius: 33px;
}
#video-represent .modal-dialog .modal-content h5,
#test-parent .modal-dialog .modal-content h5 {
  font-size: 1.8rem;
  margin-bottom: 30px;
  text-align: center;
  color: #009cdd;
  font-family: sukarbo;
}
#video-represent .modal-dialog .modal-body,
#test-parent .modal-dialog .modal-body {
  padding: 50px 70px;
}
#video-represent .modal-dialog .btn-styl,
#test-parent .modal-dialog .btn-styl {
  background-color: #009dde;
  width: 200px;
  max-width: 100%;
  color: #fff;
}

#test-parent {
  text-align: center;
}
#test-parent img {
  width: 200px !important;
  margin-bottom: 30px;
}
#test-parent p {
  font-size: 2rem;
}

.courses-videos .details-contetn h5 span {
  color: #5e5e5e;
}

.new-video-card {
  margin-bottom: 35px;
}
.new-video-card .card-img {
  height: 287px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}
.new-video-card .card-img img {
  border-radius: 4px;
}
.new-video-card .card-img .play-btn-card {
  position: relative;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: rgba(0, 155, 221, 0.6784313725);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .new-who-us::after {
    display: none;
  }
  .new-who-us .who-icons {
    margin-top: 50px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
  .new_navbar .links,
  .new_navbar .btn-style {
    display: none;
  }
  .new_navbar .lang_pic {
    display: none !important;
  }
  .new-who-us .who-icons .icon_card ul li {
    width: 100%;
  }
  .new-who-us .who-icons .icon_card {
    flex-direction: column;
  }
  .home-contact-us .contact-img {
    margin: auto;
    text-align: center;
    margin-top: 30px;
  }
  .new-course-details .course-titles .title-card .titles li {
    flex-direction: column;
    margin-top: 10px;
  }
  .t-button {
    font-weight: 900;
  }
  .new-course-details .course-titles .title-card .titles .t-button {
    width: auto;
    margin-top: 20px;
  }
  .new-course-details .course-titles .get-test {
    flex-direction: column;
  }
  #video-represent .modal-dialog .modal-body,
  #test-parent .modal-dialog .modal-body {
    padding: 20px;
  }
}/*# sourceMappingURL=custom-css.css.map */